<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <title>Document</title>
</head>
<body>
    <canvas id="myChart" width="900" height="400"></canvas>
    <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: <%- JSON.stringify(labels) %>,
            datasets: [{
                label: 'Day temp',
                data: <%- JSON.stringify(day)%>,
                backgroundColor: [
                    'rgba(9, 148, 65, 0)',
                ],
                borderColor: [
                    'rgba(9, 148, 65, 1)',
                ],
                borderWidth: 3
            },{
                label: 'Min temp',
                data: <%- JSON.stringify(min)%>,
                backgroundColor: [
                    'rgba(0, 64, 255, 0)',
                ],
                borderColor: [
                    'rgba(0, 64, 255, 1)',
                ],
                borderWidth: 3
            },{
                label: 'Max temp',
                data: <%- JSON.stringify(max)%>,
                backgroundColor: [
                    'rgba(255, 40, 0, 0)',
                ],
                borderColor: [
                    'rgba(255, 40, 0, 1)',
                ],
                borderWidth: 3
            }]
        },
    });
    </script>
</body>
</html>